@font-face {
    font-family: 'Roboto';
    src: url('../resources/font/roboto-variablefont.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-display: swap;
}

html {
    font-family: "Roboto";
}

main > * {
    height: 370px;
    padding: 30px 10%;
}

a,
.hero-description > p {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    border: none;
    color: #fff;
    padding: 10px 25px;
    border-radius: 8px;
    font-weight: 700;
}

/* header */
header {
    height: 50px;
    padding: 10px 10%;
    background-color: #1f2937;
}

nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.navigation-links {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

/* hero section */
.hero {
    padding: 50px 10%;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
}

.hero-image {
    width: 48%;
    object-fit: cover;
}

.hero-description {
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.hero-head {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    line-height: 1.2;
    justify-self: flex-start;
}



/* specials section */
.specials {
    padding: 30px 10%;
}

.specials > h2 {
    text-align: center;
    margin-bottom: 30px;
}

.specials-highlights {
    display: flex;
    justify-content: space-around;
}

.specials-highlights > div {
    width: 22%;
}

.specials img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.specials p {
    text-align: center;
}

/* quote section */
.quote-section {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

figcaption {
    text-align: end;
    font-weight: 700;
}

/* sign up section */
.sign-up-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-container {
    height: 50%;
    width: 100%;
    padding: 5% 10%;
    border-radius: 5px;
    background-color: #3882f6;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-up-container h2 {
    font-weight: 700;
}

.sign-up-button {
    border: 2px solid #fff;
}

/* footer */
footer {
    height: 50px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright-text {
    color: #fff;
}