img {
    width: 100px;
}

@font-face {
    font-family: 'Roboto';
    src: url('../resources/font/roboto-variablefont.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-display: swap;
}

html {
    font-family: "Roboto";
}